{% extends "index.html" %}
{% block title %}About{% endblock title %}
{% block body %}
<section class="about-section">
  <div class="about-content">
    <h2>About Me</h2>
    <p>
      Hi, I'm John Doe, a web developer and backend enthusiast with expertise in Python, Django, Java, HTML, CSS, and
      JavaScript.
      I enjoy creating efficient, scalable solutions and building user-friendly web applications. Explore my work to see
      how I bring
      ideas to life through code!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nisi molestiae eaque dignissimos consequatur
      sint dolores. Consequuntur, nam repellendus? Esse ipsa a provident sunt ratione.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nisi molestiae eaque dignissimos consequatur
      sint dolores. Consequuntur, nam repellendus? Esse ipsa a provident sunt ratione.
    </p>
  </div>
  <figure class="figure">
    <img src="/static/image/human.avif" class="figure-img img-fluid rounded-circle inner-img" alt="John Doe">
  </figure>
</section>
{% endblock body%}