{% extends "index.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
<!-- Hero Section -->
<header class="hero">
    <div class="container">
        <h1>Hi, I'm Kashish Rathod 👋</h1>
        <p>Python and Django Backend Developer</p>
        <p>I build scalable backend systems and clean web applications using Django and Python.</p>
        <a href="/contact" class="btn btn-secondary mt-3">Get in Touch</a>
        <a href="{% static 'pdf/Resume.pdf' %}" class="btn btn-secondary mt-3" target="_blank">Open My Resume</a>
    </div>
</header>
{% endblock body %} 